/* Estilo do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo do cabeçalho */
}

/* Alinhamento do contêiner do cabeçalho */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os itens do contêiner */
    width: 100%;
    max-width: 1200px;
}

/* Estilo para o logotipo */
.logo {
    position: absolute; /* Posiciona o logo no canto superior esquerdo */
    left: 20px; /* Margem da esquerda */
    display: flex;
    align-items: center;
}

.logo img {
    height: 125px; /* Aumenta a altura do logo para 100px */
    width: auto; /* Mantém a proporção da imagem */
}

/* Estilo para a barra de navegação */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os itens da barra de navegação */
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}


/* Estilo para a lista de produtos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Estilo para o botão "Adicionar ao Carrinho" */
.add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #218838;
}

/* Estilo para o rodapé */
footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
